#{extends 'main.html' /}
#{set title:'Login' /}


<form action="@{Logins.login}" method="get">

    <h1>Login</h1>

    <div class="inputGroup">
        <label>Nome</label>
        <input type="text" minlength="3" name="nome" placeholder="Digite seu nome" autocomplete="off">
    </div>

    <div class="inputGroup">
        <label>Senha</label>
        <input type="password" minlength="3" name="senha" placeholder="Digite sua senha" autocomplete="off">
    </div>

    <button type="submit">Logar</button>

</form>